.wp-block-tsi-text-with-side-image {
    margin: 20px 0;
    position: relative;
}

.tsi-block {
    position: relative;
    z-index: 1;

    &.tsi-image-left {
        margin-left: 200px;
    }

    &.tsi-image-right {
        margin-right: 200px;
    }

    .tsi-image {
        position: absolute;
        top: 0;
        width: 150px;
        z-index: 2;

        .tsi-image-preview {
            position: relative;

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 4px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }

            .tsi-image-actions {
                display: flex;
                gap: 8px;
                margin-top: 12px;
                justify-content: center;
            }
        }
    }

    &.tsi-image-left .tsi-image {
        left: -180px;
    }

    &.tsi-image-right .tsi-image {
        right: -180px;
    }

    .tsi-image-upload {
        position: absolute;
        top: 0;
        width: 150px;

        .components-placeholder {
            min-height: 100px;
            padding: 10px;
        }
    }

    &.tsi-image-left .tsi-image-upload {
        left: -180px;
    }

    &.tsi-image-right .tsi-image-upload {
        right: -180px;
    }

    .tsi-content-wrapper {
        .tsi-content {
            min-height: 60px;
            padding: 12px;
            border: 1px dashed #d5d5d5;
            border-radius: 4px;
            background: #fff;

            &:focus {
                border-color: #007cba;
                outline: none;
            }
        }
    }
}

// Стили для выделенного блока
.wp-block-tsi-text-with-side-image.is-selected {
    border: 1px dashed #007cba;
    border-radius: 4px;
    padding: 10px;
}