.tsi-margin-block {
    float: left;
    width: auto;
    margin: 20px 0;

    .tsi-margin-content {
        width: 150px;

        .tsi-margin-image {
            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 6px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            }
        }

        .tsi-margin-caption {
            margin-top: 10px;

            div {
                font-size: 0.95rem;
                line-height: 1.4;
                color: #666;
                text-align: left;
                font-style: normal;
            }
        }
    }
}

// ЛЕВАЯ ПОЗИЦИЯ - контент в левом поле
.tsi-position-left {
    float: left;
    clear: left;
    margin-right: 30px;
    margin-left: -180px;
}

// ПРАВАЯ ПОЗИЦИЯ - контент в правом поле
.tsi-position-right {
    float: right;
    clear: right;
    margin-left: 30px;
    margin-right: -180px;
}

// Адаптивность для мобильных устройств
@media (max-width: 768px) {
    .tsi-margin-block {
        float: none !important;
        margin: 20px auto !important;
        max-width: 300px;

        &.tsi-position-left,
        &.tsi-position-right {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .tsi-margin-content {
            width: 100% !important;

            .tsi-margin-caption div {
                text-align: center;
            }
        }
    }
}